<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="20" android:versionName="2.0c" package="com.mitya.auesraspapp" android:installLocation="internalOnly">
	<uses-sdk android:minSdkVersion="19" android:targetSdkVersion="28" />
	<application android:label="Расписание занятий" android:icon="@drawable/info"></application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>